<td
    {% if bothTracks %} colspan="2" {% endif %}
    {% if bothSlots %} rowspan="2" {% endif %}
>
    <p class="lead">
        {% if speaker.avatar %}
        <img src="/img/speakers/{{ speaker.avatar }}" class="img-responsive img-rounded hidden-xs avatar" alt="{{ speaker.name }}">
        {% endif %}
        {% if talk.type == 'keynote' %} Keynote: {% endif %}
        {{ talk.title }}
    </p>
    <p>
        <i class="fa fa-user" aria-hidden="true"></i>
        {{ speaker.name }}
    </p>
</td>

{% assign bothTracks = false %}
{% assign bothSlots = false %}
