table {
    .lead {
        margin-bottom: 5px;
    }
    img {
        &.avatar {
            margin: 0 15px 10px 0;
            float: left;
            width: 100px;
        }
    }

    margin-bottom: 50px;
}

.jumbotron {
    background-image: url(/img/schedule.jpg);
}

.table > tbody > tr > td {
    vertical-align: middle;

    &.hands-on-space-info-cell-column {
        vertical-align: top;
        width: 45%;
    }
}
